/*#########*/
/* Navbar */
/*#########*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar--center {
  width: 90vw;
  max-width: var(--max-width);
}
.navbar--header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 0rem;
}
.navbar--header img {
  width: 90px;
  margin-left: -6px;
  margin-bottom: -9px;
}
.navbar--btn {
  padding: 0.15rem 0.75rem;
}
.navbar--btn svg {
  font-size: 1.5rem;
}
.navbar--links {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}
.show-links {
  height: 23.9375rem;
}

.navbar--link {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--grey-1000);
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
  border-top: 1px solid var(--grey-500);
  transition: var(--transition);
}
.active-link {
  color: var(--primary-500);
}
.contact-link {
  display: flex;
  justify-content: center;
}
.contact-link a {
  padding: 0.15rem 1rem;
}

@media screen and (min-width: 992px) {
  .navbar {
    height: 6rem;
  }
  .navbar--center {
    display: flex;
    align-items: center;
  }
  .navbar--header {
    padding: 0;
    margin-right: 2rem;
    height: auto;
  }
  .navbar--header img {
    width: 110px;
  }
  .navbar--btn {
    display: none;
  }
  .navbar--links {
    height: auto !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .navbar--link {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .navbar--link:hover {
    color: var(--primary-500);
  }
  .contact-link {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
  }
}

/*#########*/
/* Footer */
/*#########*/
.footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--white);
}
.footer--text {
  margin-bottom: 0;
}
.footer--title,
.footer--link {
  color: var(--primary-500);
}

/*#########*/
/* Error */
/*#########*/
.error-page {
  min-height: calc(100vh - (6rem + 4rem));
  text-align: center;
  padding-top: 3rem;
}
.error-page h1 {
  font-size: 9rem;
}

/*#########*/
/* Contact */
/*#########*/

.contact-page {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .contact-page {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

/*#########*/
/* About */
/*#########*/

.about--text {
  text-transform: none;
  font-weight: bold;
}
.about {
  display: grid;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
}
.about--img {
  border-radius: var(--borderRadius);
  height: 500px;
}

@media screen and (min-width: 992px) {
  .about {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 400px;
  }
  .about--img {
    height: 100%;
  }
}

.featured-recipes--title {
  text-align: center;
  max-width: 100%;
  margin-bottom: 32px;
}
/*#########*/
/* Hero */
/*#########*/

.hero {
  height: 40vh;
  position: relative;
  margin-bottom: 2rem;
}
.hero--img {
  height: 100%;
  border-radius: var(--borderRadius);
}
.hero--container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: var(--borderRadius);
}
.hero--text {
  color: var(--white);
  text-align: center;
}
.hero--title {
  font-family: var(--bannerFont);
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 60vh;
  }
  .hero--title {
    font-size: 5rem;
    margin-bottom: 0;
  }
}

/*#########*/
/* Recipes */
/*#########*/
.all-recipes {
  display: grid;
  gap: 2rem 1rem;
}
.all-recipes div:nth-of-type(1) {
  order: 2;
}
.all-recipes div:nth-of-type(2) {
  order: 1;
}
.recipes-list {
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 3rem;
}
.tags-list {
  order: 1;
  display: flex;
  flex-direction: column;
}
.tags-list--items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tags-list--value {
  font-weight: bold;
}
.tags-list--title {
  margin-bottom: 0.5rem;
  text-align: left;
}
.tags-list--items a {
  text-transform: capitalize;
  display: block;
  color: var(--grey-800);
  transition: var(--transition);
}
.tags-list--items a:hover {
  color: var(--primary-500);
  padding-right: 0.25rem;
}

.recipe-card {
  display: block;
}
.recipe-card--img {
  height: 15rem;
  max-width: 15rem;
  border-radius: var(--borderRadius);
  overflow: hidden;
  height: 162px;
}
.recipe-card--img img {
  transition: var(--transition) !important;
}
.recipe-card--img img:hover {
  transform: scale(1.1);
}
.recipe-card--title {
  margin-bottom: 0;
  margin-top: 0.25rem;
  line-height: 1;
  color: var(--textColor);
}
.recipe-card--text {
  margin-bottom: 0;
  line-height: 1;
  color: var(--grey-800);
  margin-top: 0.5rem;
}
@media screen and (min-width: 576px) {
  .recipe-card--img {
    height: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .all-recipes {
    grid-template-columns: 1fr 200px;
    gap: 1rem;
  }
  .all-recipes div:nth-of-type(1) {
    order: 1;
  }
  .all-recipes div:nth-of-type(2) {
    order: 2;
  }

  .recipe-card {
    grid-template-columns: 1fr 1fr;
  }

  .recipe-img {
    height: 9rem;
  }

  .recipe p {
    font-size: 0.85rem;
  }
  .tags-container {
    order: 0;
  }
  .tags-list--items {
    display: grid;
    grid-template-columns: 1fr;
    text-align: right;
  }
  .tags-list {
    border-left: 1px solid var(--primary-500);
  }
}

@media screen and (min-width: 1200px) {
  .recipe h5 {
    font-size: 1.15rem;
  }
  .recipe-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .tags-list h4 {
    text-align: right;
  }
}
/*#########*/
/* Tags */
/*#########*/

.tags-page {
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}
.tag {
  background: var(--grey-700);
  border-radius: var(--borderRadius);
  text-align: center;
  color: var(--white);
  transition: var(--transition);
  padding: 0.75rem 0;
}
.tag:hover {
  background: var(--primary-500);
}
.tag h5,
.tag p {
  margin-bottom: 0;
}
.tag h5 {
  font-weight: 600;
}
@media screen and (min-width: 576px) {
  .tags-page {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .tags-page {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*#########*/
/* Recipe Template */
/*#########*/

.recipe-hero {
  display: grid;
  gap: 3rem;
}
.recipe-hero .about-img {
  height: 400px;
}
.recipe-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  text-align: center;
}
.recipe-icons svg {
  font-size: 1.5rem;
}
.recipe-icons h5,
.recipe-icons p {
  margin-bottom: 0;
  font-size: 0.85em;
}
.recipe-icons h5 {
  font-weight: 600;
}
.recipe-icons p {
  color: var(--grey-800);
}
.recipe-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-weight: 600;
}
.recipe-tags a {
  background: var(--primary-500);
  border-radius: var(--borderRadius);
  color: var(--white);
  padding: 0.05rem 0.5rem;
  margin: 0 0.25rem;
  text-transform: capitalize;
}
@media screen and (min-width: 992px) {
  .recipe-hero {
    grid-template-columns: 4fr 5fr;
    align-items: center;
  }
}
.recipe-content {
  padding: 3rem 0;
  display: grid;
  gap: 2rem 5rem;
}
@media screen and (min-width: 992px) {
  .recipe-content {
    grid-template-columns: 2fr 1fr;
  }
}
.recipe-instructions--header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
}
.recipe-instructions--text {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-500);
  margin-bottom: 0;
}

.recipe-instructions--divider {
  height: 1px;
  background: var(--grey-500);
}

.recipe-ingredients {
  display: grid;
  row-gap: 2rem;
}

.recipe-ingredients--single {
  border-bottom: 1px solid var(--grey-500);
  padding-bottom: 0.75rem;
}
.single-tool {
  border-bottom: 1px solid var(--grey-500);
  padding-bottom: 0.75rem;
  color: var(--primary-500);
  text-transform: capitalize;
}
